body{
  background-image: url("/img/a.webp");
  /* background-image: linear-gradient(210deg,rgb(46, 200, 238), white,rgba(0, 128, 0, 0.5),orange,rgba(21, 21, 214, 0.452)); */
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 98%;
  height: 94vh;
}
.cal-cantainar{
  border: 1px solid rgb(179, 177, 177);
  width: 150px;
  margin: 10px 240px;
  border-radius: 5px;
  background-image: linear-gradient(180deg,rgb(114, 201, 223),rgb(255, 177, 190));
  background-repeat: no-repeat;
  background-size: cover;

  
}
#display{
  margin: 10px;
  width: 82%;
  height: 20px;
}
.btn-cantainar{
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}
.btn{
  width: 35px;
  height: 35px;
  /* margin: 5px; */
}